/* Account.css - Styles for Account component */
.account-container {
  background-color: #ffffff;
  color: #0f172a; /* optional dark text */
  min-height: 100vh;
}
.account-inner button {
  background-color: #5dcbbe; /* Indigo-600 */
  color: rgb(10, 5, 5);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out;
}
.account-inner button:hover {
  background-color: #86cfcd; /* Indigo-700 */
}

.account-inner h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3rem;
  line-height: 1.1;
  color: rgb(52, 18, 132);
  margin-top: 0;
  position: relative;
  text-align: center;
}

.account-inner {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 80px);
}